@import '@/assets/styles/variables.scss';

*,
body,
html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.font-ibm-plex {
  font-family: 'IBM Plex Sans', sans-serif !important;
}
.font-roboto {
  font-family: 'Roboto', Helvetica, Arial, sans-serif !important;
}
